
:root {
    --fm-primary: #a1d17c;
    --fm-secondary: #d5e8c8;
}
/* Homepage */
.navbar {
    width: 100%;
    display: inline-flex;
}

nav.navbar-nav{
    margin-left: auto; 
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;    
}

a.nav-link {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    color: gray;
    padding: 15px;
}

.nav-link a:link {
    text-decoration: none;
}
.nav-link a:visited {
    text-decoration: none;
}
.nav-link a:hover {
    text-decoration: none;
    color: var(--fm-primary)
}
.nav-link a:active {
    text-decoration: none;
    color:black;
}

img.logo {
    justify-content: left;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.home-featured-img {
    min-height: 650px;
    background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.5)), url("../assets/home-feat-img.jpg");
    background-position: center center;
    background-size: cover;
}

.home-featured-img {
    margin-top: 0;
}
.home-featured-img h1 {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    padding-left: 5%;
    max-width: 550px;
    padding-top: 5%;
    max-height: 350px;
    margin-bottom: 60px;
    color: white;
}

.home-featured-img a {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    margin-left: 5%;
    padding: 10px 50px ;
    background-color: white;
    color: gray;
}

.home-featured-img a:link {
    text-decoration: none;
}
.home-featured-img a:visited {
    text-decoration: none;
}
.home-featured-img a:hover {
    text-decoration: none;
    color: var(--fm-primary)
}
.home-featured-img a:active {
    text-decoration: none;
    color: black;
}

.home-featured-img {
    margin-top: -30px;
}

.about-blurb {
    border: 5px solid black;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 1%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    
}
.about-blurb-deco {
    display: flex;
   justify-content: center;
}

.about-blurb-deco img {
    margin-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 25px;
}
.about-blurb h2, p{
    text-align: center;
}
.about-blurb h2 {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}
.about-blurb p {
    margin-top: 0;
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
}
.newsletter {
    background-color: var(--fm-secondary);
    display: flex;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.newsletter-blurb {
    text-align: center;
    margin-left: 10%;
}

.newsletter-blurb img {
    min-width: 500px;
}

.newsletter-blurb h2 {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.newsletter-blurb p {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    margin-bottom: 7.5%;
}

.newsletter-blurb a {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    background-color: white;
    padding: 10px 50px ;
    background-color: white;
    color: gray;
}

.newsletter-blurb a:link {
    text-decoration: none;
}
.newsletter-blurb a:visited {
    text-decoration: none;
}
.newsletter-blurb a:hover {
    text-decoration: none;
    color: var(--fm-primary)
}
.newsletter-blurb a:active {
    text-decoration: none;
    color: black;
}

div.newsletter img {
    max-width: 300px;
}

.gallery-container {
    padding: 0;
}
.img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin-right: 40px;
}

.img-gallery li {
    flex-basis: 320px;
    list-style-type: none;
}
.img-gallery li img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

.img-gallery {
    display: flex;
}

.footer-nav {
    width: 100%;
    margin-top: 5%;
}

.foot-logo img {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    height: 40px;
}

.foot-navbar-nav {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.foot-navbar-nav a {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: gray;
    padding: 15px;
}

a.foot-nav-link:link {
    text-decoration: none;
}
a.foot-nav-link:visited {
    text-decoration: none;
}
a.foot-nav-link:hover {
    text-decoration: none;
    color: var(--fm-primary)
}
a.foot-nav-link:active {
    text-decoration: none;
    color:black;
}

/* Menu */
.menu-featured-blurb {
    margin-left: 25%;
    margin-right: 25%;
}

.menu-featured-blurb h1 {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0%;
}
.menu-featured-blurb p {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1%;
}

.menu-list {
    margin-top: 2.5%;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    border: 2.5px solid black; 
}

.menu-list a {
    margin-top: 0;
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    padding: 15px;
}

.menu-list a:link {
    text-decoration: none;
}

.menu-list a:visited {
    text-decoration: none;
    color:black;
}
.menu-list a:hover {
    text-decoration: none;
    color: var(--fm-primary)
}


.menu h2 {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-left: 5%;
    margin-bottom: 10px;
}
.menu-menu {
    margin-top: 0;
    text-align: center;
    padding-inline-end: 40px;
}
.menu-item {
    display:inline-block;
    padding: 5%;
    padding-top: 2.5%;
}
.menu-item img {
    max-width: 450px;
    min-width: 450px; 
}

.menu-item h3{
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    margin:0;
    margin-top: 2.5%
}
.menu-item p {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    color: gray;
    margin:0;
    margin-top: 2.5%
}
/* Menu Item */

.ft-menu-item {
    margin-top: 5%;
    margin-right:5%;
    margin-left:5%;
    display: flex;
}

img.featured-bread {
    max-width: 500px;
}

.ft-menu-item-blurb {
    margin-left: 5%;
}

.ft-menu-item-blurb h1{
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom:10px;
}

.ft-menu-item-blurb img{
    margin-top:0;
    width: 575px;
}

.ft-menu-item-blurb p {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    text-align:left;
    margin-right: 15%;
}
/* About */

.our-story {
    margin-top: 5%;
    margin-right:5%;
    margin-left:5%;
    display: flex;
}

img.story {
    max-width: 500px;
}

.story-blurb {
    margin-left: 5%;
}

.story-blurb h1{
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom:10px;
}

.story-blurb img{
    margin-top:0;
    width: 575px;
}

.story-blurb p {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    text-align:left;
    margin-right: 15%;
    margin-bottom: 15px;
}
/* Contact */

.contact {
    margin-top: 5%;
    margin-right:5%;
    margin-left:5%;
    display: flex;
}

.contact img {
    max-width: 500px;
}

.contact-blurb {
    margin-left: 5%;
}

.contact-blurb h1{
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom:10px;
}

.contact-blurb img{
    margin-top:0;
    width: 575px;
}

.contact-blurb p {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    text-align:left;
    margin-right: 15%;
    margin-bottom: 15px;
}

.contact-blurb a {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align:left;
    margin-right: 15%;
    margin-bottom: 15px;
    color: gray;
}

.contact-blurb a:link {
    text-decoration: none;
}
.contact-blurb a:visited {
    text-decoration: none;
}
.contact-blurb a:hover {
    text-decoration: none;
    color: var(--fm-primary)
}
.contact-blurb a:active {
    text-decoration: none;
    color: black;
}


