
div.navbar {
    width: 100%;
    display: inline-flex;
}
nav.navbar-nav{
    margin-left: auto; 
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    
}
a.nav-link {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: gray;
    padding: 15px;
}
a.nav-link:link {
    text-decoration: none;
}
a.nav-link:visited {
    text-decoration: none;
}
a.nav-link:hover {
    text-decoration: none;
    color: #a1d17c;
}
a.nav-link:active {
    text-decoration: none;
    color:black;
}

div.nav-logo {
    width: 50%;
}
img.logo {
    justify-content: left;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.home-featured-img {
    min-height: 500px;
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.65)), url(/assets/home-feat-img.jpg);
    background-position: center center;
    background-size: cover;
}

.home-featured-img h1 {
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    padding-left: 5%;
    padding-right: 55%;
    
}
